{% extends "bandas/listas_layout.html" %}

{% block content %}
    <div class="edit-musica-container">
        <h1>Edit Music</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/static/bandas/style.css">
{% endblock %}
