<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/bandas/style.css">
    <title>Whimsical Melodies</title>
</head>

<body class="bodyindex">

    <!-- Título "Música" no topo da página -->
    <h1 class="h1index">Whimsical Melodies</h1>

    <!-- Texto de informação -->
    <p class="info-text">Welcome to the music page. Here you'll find information about bands, albums, and songs.</p>

    <!-- Quadrados com os textos "Bandas", "Álbuns" e "Músicas" -->
    <div class="feature-container">
        <a href="/bandas/lista_bandas" class="feature-box">
            <h2>Bands</h2>
            <p>Discover information about your favorite bands.</p>
        </a>
        <a href="/bandas/lista_albuns" class="feature-box">
            <h2>Albums</h2>
            <p>Explore a variety of music albums.</p>
        </a>
        <a href="/bandas/lista_musicas" class="feature-box">
            <h2>Musics</h2>
            <p>Find and listen to your favorite songs.</p>
        </a>
    </div>

    <!-- Footer -->
    <footer>
        Developed by Miguel Melo
    </footer>

</body>

</html>
